.herobanner{
    padding:2rem;
}
.hero{
    width:100%;
}
.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.user-image{
    margin:2rem;
}
.cards{
    width: 100%;
}
.card{
    background-color: red;
}
