.listTypeface{
    color:#b0b0b9;
    font-style: italic;
}
.classArticleimageTypeface>img{
    max-width: 10%;
    padding: 1rem;
    padding-left: 2rem;
}
.articleTitleTypeface{
    margin: 1rem;
    margin-top: 0;
    padding-left: 1rem;
}
.font{
    padding-left: 2rem;
}
.contHelvetica{
    display:flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    background-color: whitesmoke;
    box-shadow: 0.5rem 0.5rem #b0b0b9;
    border-radius: 0.5rem; 
}
.typoGrid{
    display: grid;
    grid-template-areas: 
      "Grid1 Grid2 Grid3"
      "Grid4 Grid5 Grid6";
    grid-template-rows: auto 30% auto;  
    grid-template-columns: 35% 35% auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    padding-left: 2rem;
    padding-right: 1rem;
}

#idGrid1, #idGrid4{
    grid-area: Grid1;
}
#idGrid2{
grid-area: Grid2;
padding-right: 2rem;
}
#idGrid3{
    grid-area: Grid3;
    padding-left: 1rem;
    }
#idGrid4{
    grid-area: Grid4;
}
#idGrid5{
grid-area: Grid5;
}
#idGrid6{
    grid-area: Grid6;
    }
#idFooter{
    grid-area: footer;
}
.typohr{
    border-style: solid;
    border-width: 1px; 
}
.typoHeader{
    margin-bottom: 0;
}
.typoDetails{
    margin:-1rem;
    font-family: Helvetica;
    color:#b0b0b9;
    font-size:24px;
}
.typoDetails2{
    margin:-1rem;
    font-family: Helvetica;
    color:#b0b0b9;
    font-style: italic;
    font-size:24px;
}
.typoDetails3{
    margin:-1rem;
    font-family: Helvetica;
    color:#b0b0b9;
    font-weight: bold;
    font-size:24px;
}
.typoDetails4{
    margin:-1rem;
    font-family: Verdana;
    color:#b0b0b9;
    font-size:24px;
}
.typoDetails5{
    margin:-1rem;
    font-family: Verdana;
    color:#b0b0b9;
    font-size:24px;
    font-style: italic;
}
.typoDetails6{
    margin:-1rem;
    font-family: Verdana;
    color:#b0b0b9;
    font-size:24px;
    font-weight: bold;
    padding-right: 1rem;
}
.grid2cont{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
li{
    text-indent:8px;
}
body{
    display: grid;
    grid-template-areas: 
      "header header"
      "spacer spacer"
      "nav article"
      "nav footer";
    grid-template-rows: 120px 25px auto 700px;  
    grid-template-columns: 20% 80%;
    grid-row-gap: 0;
    grid-column-gap: 0;
    height: 100vh;
    margin: 0;
    } 

@media all and (max-width: 575px) {
    .typoGrid{
        display: grid;
        grid-template-areas: 
          "Grid1"
          "Grid2"
          "Grid3"
          "Grid4"
          "Grid5"
          "Grid6";
        grid-template-rows: auto;  
        grid-template-columns: auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        height: 100vh;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .classArticleimageTypeface>img{
        max-width: 40%;
        padding: 1rem;
        padding-left: 1rem;
    }
    body { 
        grid-template-areas: 
          "header"
          "spacer"
          "nav"
          "article"
          "idFooter";
        grid-template-rows: 10% 2% 27% 1fr auto;  
        grid-template-columns: 1fr;
     } 
     .typoDetails6{
        margin:-1rem;
        font-family: Verdana;
        color:#b0b0b9;
        font-size:24px;
        font-weight: bold;
        padding-right: 1rem;
        
}

}