body{
    display: grid;
    grid-template-areas: 
      "header header"
      "spacer spacer"
      "article nav";
    grid-template-rows: 10% 2.25% auto;  
    grid-template-columns: 80% 20%;
    grid-row-gap: 0;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    }  
article, nav{
    padding: 0rem;
    font-family: Verdana;
    }
    #spacer1{
        grid-area: spacer;
    }
#pageHeader{
    grid-area: header;
    }
#mainArticle { 
    grid-area: article;      
    }
#mainNav { 
    grid-area: nav; 
    }
header{
    padding: 0;
    background: white;    
    }
.containerHeader{
  display:flex;
  flex-direction: row;
  justify-content: center;    
 } 
.logo{
  padding: 0;
  margin: 0;
}
.title{
    margin-top: 2rem;
    font-family: Helvetica;
}
li{
  padding: 0.5rem;
}
a{
  font-weight: bold;
  color: black;
}
a:link {
  color: #96C789;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #cbe948;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #b0b0b9;
  background-color: transparent;
  text-decoration: underline;
}
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }  
.dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
}  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  
.dropdown-content a:hover {
    background-color: #f1f1f1
}  
.dropdown:hover .dropdown-content {
    display: block;
    background-color: transparent;
}  
  .dropdown:hover .dropbtn {
    background-color: #69cff9;
}
.navMain{
    background-image: url("Images/background_dental_clinic.jpg");
    background-size: cover;
}
.hr1{
    border-color:#cbe948;
    border-style: ridge;
    border-width: 0.5rem;   
    margin-bottom: 0;
    position:sticky;
    top:0;
    
}
hr{
    border-color:#cbe948;
    border-style: ridge;
    border-width: 0.25rem;      
}
.classArticleimage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.classArticleimage>img{
    max-width:40%;    
}
.Guides1{
    padding-left: 1rem;
}
h1, h2, h3, h4{
    font-family: Helvetica;
}
.articleTitle{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
p{
    margin-left: 1rem;
}

/* Stack the layout on small devices/viewports. */
@media all and (min-width: 575px) {
    .dropdown{
        visibility: hidden;
    }
    }
@media all and (max-width: 575px) {
    body { 
      grid-template-areas: 
        "header"
        "spacer"
        "nav"
        "article";
      grid-template-rows: 10% 2% auto 1fr;  
      grid-template-columns: 1fr;
   }
h1{
    font-size: x-large;
   }
.title{
    margin-top: 1.25rem;
    margin-left: -1rem;
   }
nav{
    margin-top: 0.3rem;
    display:flex;
}
hr{
    margin-top: 1.4rem;
}
.Guides1{
padding-top: 0;
visibility: hidden;
}
.dropdown{
    margin-bottom: -4rem;
    margin-left:-8rem;
}
nav{
    margin-top: 1.2rem;
}
.classArticle{
    margin-top:0.5rem;
}
.classArticleimage>img{
    max-width: 80%;
}

}
