body{
    display: grid;
    grid-template-areas: 
      "header header"
      "article nav";
    grid-template-rows: 10% 90%;  
    grid-template-columns: 80% 20%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    }  
header, footer, article, nav{
    padding: 1.2em;
    background: #69cff9;
    }
#pageHeader{
    grid-area: header;
    }
#mainArticle { 
    grid-area: article;      
    }
#mainNav { 
    grid-area: nav; 
    }

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
    body { 
      grid-template-areas: 
        "header"
        "nav"
        "article";
      grid-template-rows: 10% 10% 1fr;  
      grid-template-columns: 1fr;
   }
}