.colorcont{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.color{
    border: 1px solid whitesmoke;
    padding: 1rem;
    box-shadow: 0 20px 20px -14px rgba(0, 0, 0, 0.25);
}
.color>img{
    padding: 0 1rem 0;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 805px) {
    .colorcont{
        display:block;
        margin: 0 10rem 0 10rem;
    }
    .color{
        width: 80%;
        
    }
}