input[type="reset"] {
    background:radial-gradient(white,#fac898);
    color: black;
    padding: 1rem 3rem;
    font-size: large;
    font-weight: bold;
    border: 1px solid #cbe948;
    border-radius: 0.5rem;
    box-shadow: 0 20px 20px -14px rgba(0, 0, 0, 0.25);
    margin: 1rem;
    cursor: pointer;
  }
  
  input[type="reset"]:hover {
    background:radial-gradient(white 30%,#fac898);
    color:black;
    animation-name: colorAnimation4;
    animation-duration: 1s;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
  }
  input[type="reset"]:active{
    background:radial-gradient(#fac898,#fac898);
    color:black;
    animation: gelatine .5s infinite;
}
  input[type="submit"] {
    background:radial-gradient(white,#69cff9);
    color: black;
    padding: 1rem 3rem;
    font-size: large;
    font-weight: bold;
    border: 1px solid #cbe948;
    border-radius: 0.5rem;
    box-shadow: 0 20px 20px -14px rgba(0, 0, 0, 0.25);
    margin: 1rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background:radial-gradient(#96c789,#69cff9);
    color:black;
    animation-name: colorAnimation2;
    animation-duration: 1s;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
  }
  input[type="submit"]:active{
    background:radial-gradient(#69cff9,#69cff9);
    color:black;
    animation: gelatine .5s infinite;
}
  
  /* ===============
     STRUCTURE
     =============== */
  
  .wrapper-form {   
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px 20px;
    max-width: 600px;
    margin: 0 50px 0px 20px;
    font-family: Verdana;
  }
  
  .wrapper-button {
    display: flex;
    justify-content: space-between;
  }
  
  /* ===============
     FORM CONTROLS
     =============== */
  
  input,
  select,
  textarea {
    font-size:16px;
    font-weight: bold;
    font-family:Verdana;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 16px;
    resize: vertical;
  }
  fieldset {
    margin-bottom: 16px;
    border: 1px solid black;
    width:100%;
  }
  
  .label-required {
    font-size: 14px;
    font-weight: bold;
    color: #ff6961;
  }
  .containerForm{
    background:radial-gradient(white 30%,#b3dfdf);;
    padding:2rem 4rem 2rem 2rem;
    margin:0 2rem 0;
    border-radius:1rem;
    box-shadow: 0 20px 20px -14px rgba(0, 0, 0, 0.25);
  }
  .containerForm1{
    margin-bottom:2rem;
  }
  .navMain{
    height:auto;
  }
  @media all and (max-width: 530px) {
    input[type="reset"] {
      padding: 1rem 2rem;
      font-size: medium;
      margin-left:0rem;
    }
    input[type="submit"] {
      padding: 1rem 2rem;
      font-size: medium;
      margin-right:1rem;
    }
    .classArticle{
      overflow:auto;
    }
    header{
        overflow:auto;
    }
  
  }