body{
  margin:0;
}
.containerhamburger {
  box-sizing: border-box;
}

.top-nav-hamburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu-hamburger {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 5rem;
  padding: 0;
}

.menu-hamburger > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container-hamburger {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle-hamburger {
  display: none;
}

.menu-button-hamburger,
.menu-button-hamburger::before,
.menu-button-hamburger::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button-hamburger::before {
  content: '';
  margin-top: -8px;
}

.menu-button-hamburger::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle-hamburger:checked + .menu-button-container-hamburger .menu-button-hamburger::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle-hamburger:checked + .menu-button-container-hamburger .menu-button-hamburger {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle-hamburger:checked + .menu-button-container-hamburger .menu-button-hamburger::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container-hamburger {
    display: flex;
  }
  .menu-hamburger {
    position: absolute;
    top: 2rem;
    margin-top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle-hamburger ~ .menu-hamburger li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle-hamburger:checked ~ .menu-hamburger li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-hamburger > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu-hamburger > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/*DROPDOWN BUTTON*/
.menu-hamburger{
  margin-top: 5rem;
  z-index: 10;
}
